*:focus {
    outline: none;
}
body {
    font: 14px/21px"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    background-color: #eace00;
    color: black;
}

label {
    padding-right: 15px;
    text-indent: 5px;
}

#wrapper {
    width:300px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    padding:20px;
    border-radius: 5px 5px 0 0;
    border: 2px solid #000000;
    box-shadow: 1px 1px 5px 1px;
}

li:nth-child(odd) {
    background: #ccc;
}

li {
    background: #ccc;
    margin: 5px 0px;
    line-height: 1.6;
    padding: 10px;
    border: #222 solid 1px;
    border-radius: 8px;
    list-style-type: none;
}
#btnSubmit {
    background-color: darkBlue;
    color: white;
}

#about {
    background-color: whitesmoke;
    color: black;
}

#sharebutton{
    background-color: whitesmoke;
    color: black;
    width: min-content;
}

#sharelist{
    background-color: whitesmoke;
    padding: 2px;
    color: black;
    width: min-content;
}
#wrapper input {
    margin-left: auto;
    margin-right:auto;
}

#footer {
    
    text-align: center;
}

#footer a {
    
    font-size: .60rem;
    color: white;
}

#footer b {
    padding: 3px 10px 3px 10px;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
}

h1 {
    color: #000000;
    margin: 10px 0 20px 0;
    font-size: 24px;
    text-align:center;
}

#mainDiv {
    
    text-align: center;
}



